@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* эксперемент */
/* body{
    margin: 0; убираем отступы 
}

ul{
    list-style: none;убираем маркеры
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none; убираем подчеркивание у ссылок
    display: inline-block; для того чтобы ссылки не слипались 
    color: #000; цвет ссылок 
    border: 1px solid #FF7B47; цвет рамки 
    padding: 0.5em;
    margin-right: 0rem;

}
section{
    background-color: #FF7B47; цвет фона 
    padding: 1em;отступы внутри блока
    margin-bottom: 1em; отступы снизу
}

.card{
    background-color: #fff;
    padding: 1em;
    min-width: 300px;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
}
:root{
    box-sizing: border-box;

}
*, ::after, ::before{
    box-sizing: inherit;
}
 */


/* основа */
:root{
    font-size: 62.5%;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #252B42;
    --secondary-color: #737373;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #0D5C63;
    --quinary-color: #FF7B47;
    --hexadecimaly-color: #BDBDBD;
}
a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    
}
nav, h3, h4, h2,h1, button, .button_centr,p{
    text-align: center;
}
h1{
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
}
h2{
    font-size: 4rem;
    color: var(--primary-color);
    
}
button{
    height: 60px;
    width: 250px;
    font-weight: 700;
    font-size: 3rem;
}

.button_1{
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border: solid var(--quinary-color);
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 1.4rem;
    text-align: center;
    
}
.button_2{
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    border-width: 1px;
    border-color: var(--quaternary-color);
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-size: 1.4rem;
    
}
.button_3{
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border: solid var(--quinary-color);
    border-radius: 5px;
    font-size: 1.4rem;
    text-align:left;
}


p{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.43rem;
}
.second_p{
    font-size: 2rem;
}
.tertiar_P{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
}
.quater_p{
    color: var(--quinary-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
}
.quinar_p{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
}
.sixthr_p{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
}
.seventhr_p{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
}
.mean_hadder{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.4rem;
}
.mean_menu{
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 400;
}
footer nav, footer{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 1.4rem;
    text-align:left;
}
.footer_1{
    font-size: 2.4rem;
    text-align:left;
}
.footer_2{
    font-weight: 600;
    font-size: 1.6rem;
}

.radio_boxs{
    color: var(--hexadecimaly-color); 
    font-weight: 600;
    font-size: 1.4rem;
}
.second_a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
}