@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    font-size: 62.5%;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #252B42;
    --secondary-color: #737373;
    --tertiary-color: #FFFFFF;
    --quaternary-color: #0D5C63;
    --quinary-color: #FF7B47;
    --hexadecimaly-color: #BDBDBD;
    --septenary-color: #FAFAFA;
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}

a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
}
.second_a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 3em;
    margin-left: -3em;
}
.tertiar_a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.4rem;
    margin-right: 0.6em;
}
ul{
    list-style: none;
    margin-left: -4em;
}

footer nav ul{
    margin-left: -1em;
}
nav, h3, h4, h2,h1, button, .button_centr,p{
    text-align: center;
}
h1{
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.3em;
}
h2{
    font-size: 4rem;
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}
h3{
    font-size: 3.4rem;
    color: var(--primary-color);
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
}

.mergen_h2{
    margin-left: 2em;
    margin-right: 2em;
}
button{
    height: 60px;
    max-width: 700px;
    min-width: 150px;
    font-size: 3rem;
    box-shadow:  6px 10px 10px var(--secondary-color);
}

.button_1{
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border: solid var(--quinary-color);
    border-radius: 20px;
    height: 40px;
    width: 200px;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2em;
    margin-right: 0.5em;
    
}
.button_2{
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    border-width: 1px;
    border-color: var(--quaternary-color);
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-size: 1.4rem;
    margin-bottom: 2em;
    margin-left: 0.5em;
    
}

.button_3{
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border: solid var(--quinary-color);
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 4em;
    margin-right: 3em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 270px;
}
.button_4{
    background-color: var(--quinary-color);
    color: var(--tertiary-color);
    border: solid var(--quinary-color);
    border-radius: 5px;
    font-size: 1.4rem;
    width: 270px;

    
}
div.div_second button{
    background-color: var(--quinary-color);
    border: solid var(--quinary-color);
    border-radius: 5px;
    color: var(--tertiary-color);
    font-size: 1.4rem;
    font-weight: 400;
    box-shadow: none;
}


p{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.43rem;
    margin-left: 3.9em;
    margin-right: 3.9em;
}
.mergen_p{
    margin-left: 5.6em;
    margin-right: 5.6em;
    margin-bottom: 4.2em;
}
.second_p{
    font-size: 2rem;
    margin-left: 2.6em;
    margin-right: 2.6em;
    margin-bottom: 4em;
}
.tertiar_P{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.4rem;
}
.quater_p{
    color: var(--quinary-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 0em;
    margin-right: 1em;
  
}
.quinar_p{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 0em;
}

.sixthr_p{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3.5em;
}
.seventhr_p{
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    margin-left: 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.eightr_p{
    margin-top: 0.7em;
    margin-left: 6.6em;
    margin-right: 6.6em;
    margin-bottom: 4.2em;
}
.nine_p{
    text-align: left;
    margin-left: 4em;
    margin-right: 8em;
    margin-bottom: 0.7em;
    height: 1em;
}
.ten_p{
    text-align: left;
    max-width: 27em;
    min-width: 10em;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mean_hadder{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2.4rem;
    margin-left: 1.5em;
    margin-right: 2em;
}
.mean_menu{
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 400;
    
}
footer{
    margin-top: -6em;
}
footer nav, footer{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-weight: 700;
    font-size: 1.4rem;
    text-align:left;
}
.footer_1{
    font-size: 2.4rem;
    text-align:left;
    color: var(--tertiary-color);
    margin-left: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 5em;
}
.footer_2{
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 7em;
}
li.footer_2 a{
    display: list-item;
    padding-top: 1em;
}
nav.footer_3 ul li{

    margin-bottom: 1em;
}
.footer_3_ul{
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-between;
}
.footer_4{
    padding-bottom: 5em;
    margin-left: 2em;
    padding-top: 2.4em;
    padding-right: 5em;
}
div.footer_4 a{
    margin-left: 1.5em;
}
.FOOTER_END{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.radio_boxs{
    color: var(--hexadecimaly-color); 
    font-weight: 600;
    font-size: 1.4rem;
    padding-left: 4.4em;
    padding-right: 4.4em;
    padding-top: 2.8em;
    width: 60em;
    display: flex;
    flex-wrap: wrap;
}
.lable_1{
    border: 1px solid var(--secondary-color);
    display: block;
    line-break: loose;
    height: 3em;
    margin-bottom: 1.4em;
    margin-right: 1.5em;
    width: 21em;
    border-radius: 3px;
}

.lable_2{
    border: 1px solid var(--secondary-color); 
    display: block;
    line-break: loose;
    height: 3em;
    margin-bottom: 1.4em;
    margin-right: 1.5em;
    width: 21em;
    border-radius: 3px;
}
.lable_3{
    border: 1px solid var(--secondary-color);
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    padding-right: 1em;
    margin-bottom: 1.4em;
    margin-right: 1.5em;
    width: 21em;
    padding-left: 1em;
    background-color: var(--septenary-color);
}
.lable_4{
    border: 1px solid var(--secondary-color);
    display: block;
    line-break: loose;
    padding-top: 0.5em;
    padding-bottom: 5em;
    
    margin-bottom: 1.4em;
    width: 21em;
    padding-left: 1em;
}
.footer_end{
    height: 3.8em;
}
.select_1{
    border: 1px solid var(--secondary-color);

}

.li_ram{
    border: 1px solid var(--secondary-color);
    margin-left: 2.1em;
    margin-right: 2.1em;
    margin-bottom: 4em;
    padding-top: 3.5em;
    width: 32.5em;

}
.div_header{
    display: flex;
    justify-content: space-between;
}
.div_header_2{
    display: flex;
    margin-left: 6em;
    margin-right: 2em;

    position: right;
      
}
.div_haeder_3{
    margin-top: 0.4em; 
    margin-left: 3em;
}
.div_haeder_3_a{
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.img_a{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.div_primary{
    border: 1px solid var(--secondary-color);
    margin-left: 4.2em;
    margin-right: 4.2em;
    margin-bottom: 4em;
    padding-top: 3.5em;
    border-radius: 0.5em;
    padding-left: 3.5em;
    width: 32.5em;
    background-color: var(--tertiary-color);
    width: 33em;
}
.ul_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div_ferst{
    display: flex;

}
.div_second{
    display: flex;
    border: 2px solid var(--tertiary-color);
    border-radius: 7px;
    margin-right: 4.1em;
    margin-top: 1em;
}
.div_button{
    display:flex;
    margin-left: 11.3em;
    margin-right: 11.3em;
    flex-wrap: wrap;
    justify-content: center;
}
.margin_ul{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0em;
    margin-left: 1em;
}
.nav_ferst{
    margin-top: 10em;
    margin-left: -6em;
    margin-right: -6em;
}
nav.nav_ferst ul li{
    margin-bottom: 3em;
}
main{
    margin-top: 15em;
    margin-bottom: -1.5em;
}
header{
    padding-bottom: 15em;
    padding-top: 2.3em;
    
}
.section_radio{
    background-color: var(--septenary-color);
    padding-bottom: 4em;
}
@media screen and (min-width: 800px){
    header{
        background-color: var(--tertiary-color);
        background-image: url(/img/cover_1.jpg);
        background-size: cover;
    }
    .nav_ferst{
        display: none;
    }

    .div_header{
        margin-bottom: 13em;
    }
    .margin_ul{
        margin-left:20em;
        margin-right: 20em;
    }
    .lable_4{
        width: 43.5em;
    }

}
.video_section{
    background: linear-gradient(var(--tertiary-color),var(--tertiary-color) ,var(--primary-color), var(--primary-color));                                                                                                   
    background-size: cover;
    
    padding-bottom: 17.4em;

}
.section_end{
    background-color: var(--tertiary-color);
    background-image: url(/img/cover_2.jpg);
    background-size: cover;
    padding-bottom: 8.5em;
    padding-top: 9em;
}
.section_end_end_2{
    margin-bottom: 7em;
    display: flex;
    margin-top: 3.7em;
    flex-wrap: wrap;
    padding-bottom: 3.7em;
    justify-content: space-between;
}
@media screen and (max-width: 800px){
    .div_haeder_3_a{
        display: none;
    }
    .radio_boxs{
        display: block;
    }
}
